{% extends "base.html" %}

{% block title %}Checkout - Aura By Honey{% endblock %}

{% block content %}
    <section class="page-hero"><h1>CkeckOut</h1></section>

    <div class="row">
        <div class="col-md-6 p-5">
            <h3>Order Summary</h3>

            {% if cart_items %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Qty</th>
                            <th>Price</th>
                        </tr>                    
                    </thead>
                    <tbody>
                        {% for item in cart_items %}
                        <tr>
                            <td>{{ item.product.name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.product.price * item.quantity }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h4 class="text-end">Total: <span class="text-primary">{{ total }}</span></h4>
            {% else %}
                <p class="text-muted">Your Cart is Empty!</p>
                <a href="/shop" class="btn btn-primary">Continue Shopping</a>
            {% endif %}
        </div>

        <!--Checkout form -->
        <div class="p-5">
            <h3>Shipping Details</h3>

            {% if cart_items %}
                <form method="post">
                    <div class="mb-3">
                        <label for="address">Shipping Address</label>
                        <textarea name="address" id="address" placeholder="Enter your complete address" class="form-control" style="width: 400px; height: 80px;"required></textarea>
                    </div>
                    <div class="alert alert-info" style="width: 400px;">
                        <p><strong>Payment Method:</strong>Case on Delivery</p>
                        <p>Pay when your order arrives at your doorstep.</p>
                    </div>
                    <button type="submit" class="btn btn-success btn-lg w-20">Complete Order</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}