{% extends "base.html" %}

{% block title %} Shop - Aura By Honeyy{% endblock %}

{% block content %}
    <section class="page-hero">
    <h1>Shop AURA</h1>
    <p>Premium curated fashion collection.</p>
    </section>

    <div class="p-5">
    <div class="mb-4">
        <h5 style="color: black;">Filter by Category:</h5>
        <div class="btn-group" role="group">
            <a href="/shop" class="btn btn-outline-primary">All</a>
            {% for category in categories %}
                <a href="/shop?category={{ category.id }}" class="btn btn-outline-primary">
                    {{ category.name }}
                </a>
            {% endfor %}
        </div>
    </div>

    {% if products %}
        <div class="row">
            {% for product in products  %}
                <div class="col-md-3  m-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <img src="/static/uploads/product/{{ product.image_url }}" alt="{{ product.name }}" style="width: 90%;height: 50%; justify-content: center;margin-bottom: 4px;">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text text-muted">{{ product.description[:80] }}...</p>
                            {% for category in categories %}
                                     {% if category.id == product.category_id %}
                                            <p class="h6">Category: {{ category.name }}</p>
                                    {% endif %}
                            {% endfor %}
                            
                            <p class="h4 text-primary mb-3">₹{{ product.price }}</p>
                            
                            {% if product.stock > 0 %}
                                <span class="badge bg-success">In Stock</span>
                            {% else %}
                                <span class="badge bg-danger">Out of Stock</span>
                            {% endif %}
                            
                            <br><br>
                            
                            <a href="/product/{{ product.id }}" class="btn btn-primary btn-sm w-100">View Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-info">
            <p>No products available. Check back soon!</p>
        </div>
    {% endif %}
    </div>


{% endblock %}